
html {
    scroll-behavior: smooth;
}

.link{
    transition: 0.1s linear;
}


.link:active{
    background-color: #ffffff;
}

a{
    text-decoration: none;
   color: white;
   background-color: #CD0E0E;
   border-radius: 10px;
   padding: 6px;
   margin-left: 46px;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Instrument Sans';
}

header{
    background-color: #404040;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    padding-left: 23px;
    padding-right: 23px;
}

.banner{
    height: 90vh;
    background-image: url(img/Group\ 1\ \(1\).png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding-top: 53px;
    padding-left: 20px;
    font-size: 40px;
    color: white;
}

.banner_text{
    background-color: #404040be;
    width: fit-content;
    box-shadow: 8px 10px 0px#000000b5;
    border-radius: 10px;
    padding: 20px;
    
}

.banner_text p{
    margin: 0;
}
.banner_text input{
 background-color: #404040;
 border: none;
 border-radius: 20px;
}

.title{
    background-color: #404040be;
    width: 500px;
    box-shadow: 8px 10px 0px#000000b5;
    border-radius: 10px;
    padding: 20px;
    
}

.catalog{
    background-color: #404040;
    padding-top: 50px;
    padding-bottom: 50px;
}

.tit{
  color: white;
  text-align: center;
  font-size: 80px;
text-shadow: 0px 8px 0px rgba(0, 0, 0, 0.25);

}

.items{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 30px;
}

.item{
     background-color: #5B5B5B;
    border-radius: 20px;
    width: 20%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item img{
    width: 100%;
    transition: 0.3s linear;
}

.item h3{
text-align: center;
color: white;
font-weight: bold;
}


.item p{
    text-align: center;
    color: aliceblue;
}

.item button{
    text-align: center;
    font-size: 40px;
    background-color: #CD0E0E;
    border-radius: 10px;
    border: none;
    color: white;
    transition: 0.2s linear;

}

.item button:hover{
    box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.25);
    transform: scale(1.2);

}

.item button:active{
    background-color: #ffffff;
    transform: scale(1.0);
}

.item img:hover{
    transform: scale(0.9);
}

.pronas{
    background-color: #333333;
    padding-top: 40px;
    padding-bottom: 40px;
}

.tittle4{
    color: white;
    font-size: 100px;
    text-shadow: 0px 8px 0px rgba(0, 0, 0, 0.25);
    padding-left: 30px;
    padding-top: 5px ;
    padding-left: 5px ;
}

.Info{
    display: flex;
    
}

.Info p{
    color: white;
    text-shadow: 0px 8px 5px rgba(0, 0, 0, 0.25);
    font-size: 35px;
}

.Info img{
    padding-left: 20px;
    padding-right: 20px;
}

.coments_backgrount{
    background-color: #161616;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sotial_midea{
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.sotial_midea1{
    display: flex;
    align-items: center;
    gap: 20px;

}
.sotial_midea_a{
    color:white;
    text-decoration: none;
}